---
extends: default

rules:
  line-length:
    max: 200
    level: warning

  indentation:
    spaces: 2
    indent-sequences: true

  comments:
    min-spaces-from-content: 1

  comments-indentation: {}

  document-start:
    present: false

  empty-lines:
    max: 3

  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']

  octal-values:
    forbid-implicit-octal: true
